*{
    align-content: center;
    align-items: center;
    text-align: left;
    color: black;
}

div{
    height: 100%;
    width: 1440px;
    background: grey;
    padding: 100px;
    margin: auto;
}
div>div{
    width: 30%;
    height: 40%;
    padding: 50px;
    background: #fff9fb;
    margin: auto;
}
h1{
    text-shadow: 10px -4px 3px rgba(0,0,0,0.39);
    height: 250px;
    font-size: 75px;
    font-family: 'Mansalva', cursive;
    line-height: 75px;
    white-space: pre;
;
}
.p{
    font-size: larger;
    font-style: normal;
    color: coral;
    font-family: 'Big Shoulders Display', cursive;
}
.class3{
    font-family: 'Open Sans', sans-serif;
}